.html
{
	background: #FFFFFF url("../images/dsc_4648.jpg") no-repeat left top fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1968px;
	margin-left: auto;
	margin-right: auto;
}

#return
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: -3px;
}

#underco
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1155px;
	left: 41px;
}

#u97-4
{
	z-index: 80;
	position: fixed;
	top: 444px;
	left: 363px;
}

#u139-4
{
	z-index: 84;
	position: fixed;
	top: 1470px;
	left: 401px;
}

#u1455-4
{
	z-index: 88;
	position: relative;
	width: 177px;
	margin-right: -10000px;
	margin-top: 456px;
	left: 536px;
}

#u97-4_img,#u139-4_img,#u1455-4_img
{
	display: block;
	vertical-align: top;
}

.js #u1455-4.pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pamphletu1300
{
	z-index: 2;
	width: 0.01px;
	height: 957px;
	padding-bottom: 283px;
	margin-right: -10000px;
	margin-top: 728px;
	left: -100px;
}

#u1311popup
{
	z-index: 3;
}

#u1311
{
	width: 540px;
}

#u1312
{
	z-index: 4;
	width: 540px;
	height: 1240px;
	margin-right: -10000px;
}

#widgetu1313
{
	z-index: 5;
	width: 0.01px;
	height: 364px;
	margin-right: -10000px;
	margin-top: 834px;
	left: 83px;
}

#widgetu1314
{
	z-index: 6;
	width: 340px;
	height: 26px;
	margin-right: -10000px;
}

#widgetu1314.focus-st
{
	margin: 0px -10000px 0px 0px;
}

#widgetu1314.fld-err-st
{
	margin: 0px -10000px 0px 0px;
}

#u1317-4
{
	z-index: 7;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1314.focus-st #u1317-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1319
{
	z-index: 11;
	width: 340px;
	height: 26px;
	margin-right: -10000px;
	margin-top: 36px;
}

#widgetu1319.focus-st
{
	margin: 36px -10000px 0px 0px;
}

#widgetu1319.fld-err-st
{
	margin: 36px -10000px 0px 0px;
}

#u1322-4
{
	z-index: 12;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1314.fld-err-st #u1317-4,#widgetu1319.focus-st #u1322-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1325-21
{
	z-index: 16;
	min-height: 54px;
	width: 340px;
	margin-right: -10000px;
	margin-top: 270px;
}

#u1324-4
{
	z-index: 37;
	width: 340px;
	min-height: 31px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 329px;
	left: 1px;
}

#u1332-6
{
	z-index: 41;
	width: 340px;
	min-height: 31px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 329px;
	left: 1px;
}

#u1326-4
{
	z-index: 47;
	width: 340px;
	min-height: 31px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 329px;
	left: 1px;
}

#widgetu1313.frm-sub-st #u1324-4,#widgetu1313.frm-subm-err-st #u1332-6,#widgetu1313.frm-subm-ok-st #u1326-4
{
	min-height: 35px;
}

#widgetu1327
{
	z-index: 51;
	width: 340px;
	height: 150px;
	margin-right: -10000px;
	margin-top: 109px;
}

#widgetu1327.focus-st
{
	margin: 109px -10000px 0px 0px;
}

#widgetu1327.fld-err-st
{
	margin: 109px -10000px 0px 0px;
}

#u1329-3
{
	z-index: 52;
	width: 58px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 11px;
}

#widgetu1327.focus-st #u1329-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 11px -10000px 0px 0px;
}

#widgetu1327.fld-err-st #u1329-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 11px -10000px 0px 0px;
}

#u1330-4
{
	z-index: 55;
	width: 328px;
	min-height: 138px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1327.focus-st #u1330-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 138px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1327.fld-err-st #u1330-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 138px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1327_input,#widgetu1327_prompt
{
	width: 328px;
	min-height: 138px;
	padding: 6px;
}

#widgetu1465
{
	z-index: 59;
	width: 340px;
	height: 26px;
	margin-right: -10000px;
	margin-top: 73px;
}

#widgetu1465.focus-st
{
	margin: 73px -10000px 0px 0px;
}

#widgetu1465.fld-err-st
{
	margin: 73px -10000px 0px 0px;
}

#u1466-4
{
	z-index: 60;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu1319.fld-err-st #u1322-4,#widgetu1465.focus-st #u1466-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1465.fld-err-st #u1466-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1314_input,#widgetu1314_prompt,#widgetu1319_input,#widgetu1319_prompt,#widgetu1465_input,#widgetu1465_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1314.focus-st #widgetu1314_input,#widgetu1314.fld-err-st #widgetu1314_input,#widgetu1314.focus-st #widgetu1314_prompt,#widgetu1314.fld-err-st #widgetu1314_prompt,#widgetu1319.focus-st #widgetu1319_input,#widgetu1319.fld-err-st #widgetu1319_input,#widgetu1319.focus-st #widgetu1319_prompt,#widgetu1319.fld-err-st #widgetu1319_prompt,#widgetu1327.focus-st #widgetu1327_input,#widgetu1327.fld-err-st #widgetu1327_input,#widgetu1327.focus-st #widgetu1327_prompt,#widgetu1327.fld-err-st #widgetu1327_prompt,#widgetu1465.focus-st #widgetu1465_input,#widgetu1465.fld-err-st #widgetu1465_input,#widgetu1465.focus-st #widgetu1465_prompt,#widgetu1465.fld-err-st #widgetu1465_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1305
{
	z-index: 64;
	width: 211px;
	margin-right: -10000px;
	margin-top: 928px;
	left: 553px;
}

#u1306
{
	width: 225px;
	padding-bottom: 15px;
	top: -16px;
	left: -11px;
}

#u1306:hover
{
	margin: 0px;
}

#u1346-4
{
	z-index: 66;
	width: 211px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 11px;
}

#u1306:hover #u1346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#u1306:active #u1346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#pamphletu1415
{
	z-index: 70;
	width: 0.01px;
	height: 60px;
	padding-bottom: 6px;
	margin-right: -10000px;
	margin-top: 1699px;
	left: 442px;
}

#u1418popup
{
	z-index: 71;
}

#u1418
{
	width: 123px;
	left: 260px;
}

#u1419
{
	z-index: 72;
	width: 123px;
	height: 52px;
	margin-right: -10000px;
}

#u1452
{
	z-index: 73;
	width: 211px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 11px;
}

#u1453
{
	width: 225px;
	padding-bottom: 6px;
	top: -16px;
	left: -11px;
}

#u1306.PamphletThumbSelected,#u1453:hover
{
	margin: 0px;
}

#u1453.PamphletThumbSelected
{
	margin: 0px;
}

#u1454-4
{
	z-index: 75;
	width: 211px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 11px;
}

#u1306.PamphletThumbSelected #u1346-4,#u1453:hover #u1454-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#u1453:active #u1454-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#u1453.PamphletThumbSelected #u1454-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

body
{
	padding-top: 1px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -728px;
}

