@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #000000 url("../../images/mobilebackground.jpg") no-repeat right bottom fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 311px;
	min-height: 195px;
	padding: 221px 43px 154px 26px;
}

#u1763
{
	z-index: 2;
	width: 275px;
	height: 48px;
}

#u1653-6
{
	z-index: 13;
	width: 168px;
	min-height: 49px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-top: 37px;
	position: relative;
}

#ppu1649
{
	width: 0.01px;
	margin-left: 168px;
	top: -98px;
	margin-bottom: -61px;
	position: relative;
}

#pu1649
{
	z-index: 8;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1646-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1797
{
	z-index: 19;
	width: 143px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#ppu1647
{
	width: 0.01px;
	margin-left: 168px;
	position: relative;
}

#pu1647
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1649,#u1647
{
	z-index: 0;
	width: 143px;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u1649.f3s_top,._u1647.f3s_top
{
	width: 143px;
	background-image: url("../../images/u1530-sprite.png");
	overflow: hidden;
	height: 15px;
	background-position: left top;
}

._u1649.f3s_mid,._u1647.f3s_mid
{
	background-image: url("../../images/u1530-sprite.png");
	overflow: visible;
	background-position: -143px top;
	width: 143px;
	height: 32px;
}

._u1649.f3s_bot,._u1647.f3s_bot
{
	width: 143px;
	background-image: url("../../images/u1530-sprite.png");
	overflow: visible;
	height: 14px;
	background-position: -285.9499999999998px top;
}

#pu1646-4,#pu1648-4
{
	width: 0.01px;
	position: relative;
	padding-top: 20px;
	z-index: 2;
	padding-bottom: 20px;
}

#u1648-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1798
{
	z-index: 20;
	width: 143px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1797,.ie #u1798
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#page .verticalspacer
{
	clear: both;
}

